@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #0f172a;
  /* Slate 900 */
  color: #e2e8f0;
  /* Slate 200 */
}

/* Subtle Dark Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* slate-700 */
  border-radius: 5px;
  border: 2px solid #0f172a;
  /* Match background for padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* slate-600 */
}